.youtube-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 2;
}
.youtube-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding-bottom: 10vh;
}
iframe {
  width: 100%;
  height: 125vh !important;
}
