.chat {
  color: white;
}

.chatHeader {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.chatHeader .h2 {
  font-size: 16px;
  color: #333;
}

.chatBody {
  padding: 20px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.incoming {
  background-color: #f2f2f2;
  width: fit-content;
  margin-right: auto;
}

.outgoing {
  background-color: #fffa97;
  text-align: right;
  width: fit-content;
  margin-left: auto;
}

.message p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.leave {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #bb2828;
  text-align: center;
  font-weight: bold;
}

.join {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #26a193;
  text-align: center;
  font-weight: bold;
}

.vote {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #303030;
  text-align: center;
  font-weight: bold;
}

.chatFooter {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
}

.chatFooter input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.chatFooter button {
  padding: 5px 10px;
  border: none;
  border-radius: 0px;
  background-color: #537cf5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatFooter button:hover {
  background-color: #385ac2;
}

/* 마이크 */
.chatFooterTemp {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

@keyframes chatAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatCard .message {
  animation: chatAnimation 0.3s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}

.chatCard .message:nth-child(even) {
  animation-delay: 0.2s;
}

.chatCard .message:nth-child(odd) {
  animation-delay: 0.3s;
}
