.chatroom-container {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.chat {
  color: white;
}

.chat-card {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* opacity: 0.2; */
  transition: all 0.3s ease-in-out;
  /* &:hover {
    opacity: 1;
  } */
}

.chat-header {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.chat-header .h2 {
  font-size: 16px;
  color: #333;
}

.chat-body {
  padding: 20px;
  height: 150px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.incoming {
  background-color: #f2f2f2;
  width: fit-content;
  margin-right: auto;
}

.outgoing {
  background-color: #fffa97;
  text-align: right;
  width: fit-content;
  margin-left: auto;
}

.message p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.leave {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #bb2828;
  text-align: center;
  font-weight: bold;
}

.vote {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #303030;
  text-align: center;
  font-weight: bold;
}

.chat-footer {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
}

.chat-footer input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.chat-footer button {
  padding: 5px 10px;
  border: none;
  border-radius: 0px;
  background-color: #537cf5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-footer button:hover {
  background-color: #385ac2;
}

/* 임시 나가기, 재입장 버튼 */
.chat-footer-temp {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
}

.chat-footer-temp button {
  padding: 5px 10px;
  border: none;
  border-radius: 0px;
  background-color: #bb2828;
  color: #fff;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.chat-footer-temp button:hover {
  background-color: #9b0505;
}
/* -------------------------------- */

@keyframes chatAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-card .message {
  animation: chatAnimation 0.3s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}

.chat-card .message:nth-child(even) {
  animation-delay: 0.2s;
}

.chat-card .message:nth-child(odd) {
  animation-delay: 0.3s;
}
