.chat {
  color: white;
}

.chatheader {
  background-color: #e9eef6;
}

.chatHeader {
  padding: 10px;
  background-color: #e9eef6;
  display: flex;
  align-items: center;
}

.chatHeader .h2 {
  font-size: 16px;
  color: #333;
}

.chatBody {
  background-color: #e9eef6;
  padding: 20px;
  overflow-y: scroll;
  font-size: 14px;
  color: #333;
  margin: 0;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
}

.Me {
  display: flex;
  flex-direction: row-reverse;
}

.You {
  display: flex;
}

.incoming {
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 15px;
  background-color: #ffffff;
  text-align: left;
  width: fit-content;
  margin-right: auto;
  box-shadow: 1px 2px 3px rgba(221, 221, 221, 0.7);
}

.outgoing {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 15px;
  background-color: #fffad3;
  text-align: right;
  width: fit-content;
  margin-left: auto;
  box-shadow: 1px 2px 3px rgba(221, 221, 221, 0.7);
}

.message p {
  font-size: 14px;
  color: #575757;
  margin: 5px;
}

.leave {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #bb2828;
  text-align: center;
  font-weight: bold;
}

.join {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #26a193;
  text-align: center;
  /* font-weight: bold; */
}

.vote {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  color: #303030;
  text-align: center;
  font-weight: bold;
}

.chatFooter {
  height: 60px;
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
}

.chatFooter input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.chatFooter button {
  height: 100%;
  width: 4rem;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #537cf5;
  color: #fff;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatFooter button:hover {
  /* background-color: #385ac2; */
}

/* 마이크 */
.chatFooterTemp {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

@keyframes chatAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatCard .message {
  animation: chatAnimation 0.3s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}

.chatCard .message:nth-child(even) {
  animation-delay: 0.2s;
}

.chatCard .message:nth-child(odd) {
  animation-delay: 0.3s;
}
