.FullScreen {
    background-color: #252525;
}


.streamContainer {
  /* background-color: #ffffff; */
}


.live-example {
    background-color: #e9eef6;

}

.voteroom {
    /* background-color: #e9eef6; */
}

.votemodal {
    /* position:fixed;
    top: 100px; */
}