.guidemypagemini {
  flex: 0 0 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.guidemypagemini img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.guidemypagemini p {
  display: inline-block;
  margin-right: 20px;
}

.guidemypagemini a {
  display: block;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.guidemypagemini a:hover {
  color: #646cffaa;
}

.guidemypagemini ul {
  list-style-type: none;
  padding: 0;
}
